<!DOCTYPE html>

{% extends 'authentication_header.html' %}
{% block content %}
<body>

<div class="header">
  <h2>Registration Page</h2>
</div>

<div class="row"> 
  <div class="leftcolumn">

    <div class="card">
      <!-- Your registration form content goes here -->
      
      {% for message in messages %}
      <p style="color: red;"><b><i>{{ message }}</i></b></p>
      {% endfor %}


      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit"><b>Register</b></button>
      </form>
    </div>
    
  </div>
</div>

</body>
{% endblock %}